.button1 {
    color: darkred;
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
    border-color:darkred;
    margin: 10px;
    display: block;
    justify-self: center;
    transition: color, padding, 2s;
}

.button1:hover {
    background-color: palevioletred;
    border-color: black;
    padding: 15px;
    color: black;
    border-width: 2px;
    display: block;
    justify-self: center;
    transition: padding .5s;
}

.button1:active {
    background-color: darkred;
    color: pink;
    border-color: pink;
    display: block;
    justify-self: center;
    transition: color 3s;
}

.button2 {
    font-family: fantasy;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: skyblue;
    color: midnightblue;
    border-color: midnightblue;
    border-width: 3px;
    border-radius: 50px;
    display: block;
    justify-self: center;
    transition: width 1s;
}

.button2:hover {
    font-family: fantasy;
    width: 130px;
    height: 100px;
    margin: 10px;
    background-color: #3f6b7c;
    color: #0d0d3a;
    border-color: #0d0d3a;
    border-width: 3px;
    border-radius: 50px;
    display: block;
    justify-self: center;
    transition: width 1s;
}

.button2:active {
    font-family: fantasy;
    width: 130px;
    height: 100px;
    margin: 10px;
    background-color: red;
    color: darkred;
    border-color: darkred;
    border-radius: 40px;
    border-width: 4px;
    display: block;
    justify-self: center;
    transition: color, background-color, border-color, 3s;
}
.button3 {
    width: 100px;
    height: 100px;
    font-family: 'Times New Roman', Times, sans-serif;
    background: linear-gradient(pink,blue);
    border-radius: 20px;
    color: white;
    border-color: pink;
    display: block;
    justify-self: center;
    transition: height, width, 1s;
}

.button3:hover {
    width: 120px;
    height: 120px;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 25px;
    background: linear-gradient(#af7e86,#1f1fa0);
    border-radius: 20px;
    color: #a9a9a9;
    border-color: #b77b86;
    display: block;
    justify-self: center;
    transition: height, width, 1s;
}

.button3:active {
    width: 110px;
    height: 110px;
    font-family: 'Times New Roman', Times, sans-serif;
    background: linear-gradient(blue,pink);
    font-size: 15px;
    border-radius: 20px;
    color: white;
    border-color: blue;
    display: block;
    justify-self: center;
}